<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="true"
	strict="true"
	timeoutForSmallTests="10"
	timeoutForMediumTests="50"
	imeoutForLargeTests="600">
	<php>
		<ini name="report_memleaks" value="on"/>
	</php>
	<testsuites>
		<testsuite name="Falconer">

			<file>InitTest.php</file>
            <file>Form/unit-test/FormTest.php</file>
            <file>Form/unit-test/TableTest.php</file>
            <file>Rule/unit-test/RuleAgeTest.php</file>
            <file>Rule/unit-test/RuleArrayKeyExistsTest.php</file>
            <file>Rule/unit-test/RuleAtLeastOneTest.php</file>
            <file>Rule/unit-test/RuleBooleanTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
